body{
  background-color: rgb(74, 87, 89);
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
}

.vertical-flex{
 display:flex;
 flex-direction: column;
}

.outer-container {
  
  width:270px;
  /* height: 65%; */
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
  background-color:rgb(154, 165, 155);
  border-radius: 10px;
  justify-content: center;
  color: white;
  

  
}
.times-container{
  
  width:100%;
  height: calc(100vh - 395px);
  overflow: scroll;
  flex-shrink: 1;
}
.times-container::-webkit-scrollbar {
  display: none;
}

.buttons{
 outline: none;
 border-color: transparent;
 background-color: transparent;
 border-radius: 5px;
 margin: 5px;
  
}

.buttons:hover{
  background-color:rgb(177, 189, 178);
}

.time{
  font-size: 60px;
  background-color: rgb(154, 165, 155);
  border-radius: 7px;
  margin: 5px;
  
}

.time-running{
  width: 99%;
  height: 40%;
  font-size: 200px;
  background-color: rgb(154, 165, 155);
  border-radius: 7px;
  position: absolute;
  top:30%;
  
 
}

/* .time-container{
  justify-content: center;
  background-color: rgb(109, 86, 86);
  color: white;
  border-radius: 7px;
  margin: 5px;
  
  width:100px ;
} */

.time-list-item{
  
  font-size:larger;
 
  /* padding: 3px; */
  border-radius: 7px;
}

.flexbox-item{
  margin: 7px
}

.time-list-item:hover{
  background-color: rgb(177, 189, 178);
}
.time-flex{
  display: grid;
  grid-template-columns: repeat(4,25%);
  justify-content: center;
  /* display: flex; */
  /* justify-content: space-between; */
}

.green{
  color: rgb(127, 226, 127);
}

.red{
  color: red
}

.center-average{
  margin-top: 0px;
  margin-bottom: 20;
  font-size: 500%;
}

.center-average12{
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 500%;
}

.top-container{
  padding: 4px;
  display: flex; 
 justify-content: space-between;
 align-items: center;
 

}
.scramble{
 max-width: 65%;
  max-height: 95px;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size:180%;
  overflow: scroll;
  
}

.small{
  font-size: large;
  word-spacing: 5px;
  font-weight: lighter;
}

.scramble::-webkit-scrollbar {
  display: none;
}


.event{
  padding-right: 15px;
  text-align: center;
  font-size: x-large;
  border-radius: 10px;
  width: 15%;
  height: 60px;
  border-color: transparent;
  background-color: rgb(66, 78, 80);
  color: white;
  
}

.scramble-buttons{
  color:white;
  background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    padding: 5px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: x-large;
    width: 5%;
}

.scramble-buttons:hover{
  background-color: rgb(66, 78, 80);
}

.last{
  
  color:rgb(116, 127, 132);
}

.last:hover{
  background-color: rgb(74, 87, 89);
}


  /* .center-average,.center-average12 {
      display: none;
      
  }} */
 /* .outer-container{
    position:relative;
    left:50%;
  
  transform: translate(-50%,0);
  } */
/* }

@media only screen and (max-height: 475px) {
  .center-average,.center-average12 {
      display: none;
  }
 
} */
.averages-container{
  margin-right:  100px;
  
}

.block-container{
  display: flex;
  align-items: center;
  
  gap: 18vw;
  

}

.sessions{
  border-radius: 5px;
  color: white;
  background-color:rgb(134, 144, 134);

  border-color: transparent;
}


@media only screen and (max-height: 650px) {
  .block-container{
    align-items:flex-start;
  }}

.logo{
  height: 6vh;
}
 